.home-error {
  padding: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  background-color: rgba(248, 253, 254, 0.8);
  border-radius: 0.8rem;
  margin: 0 2.4rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.error-title {
  font-size: 2rem;
  font-weight: 600;
  color: #0e171e;
}

.error-description {
  font-size: 1.4rem;
  color: #59656e;
  text-align: center;
  line-height: 1.5;
}

.error-icon {
  color: #59656e;
}
