.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  height: 25rem;
}

.loading-text {
  font-size: 1.2rem;
  color: #555;
}
