.weathermate-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.weathermate-title {
  font-size: 2.4rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.weathermate-items {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.weathermate-item {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.weathermate-item__badge {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: rgba(0, 162, 206, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #00a2ce;
  font-size: 1.2rem;
}

.weathermate-item__detail {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.title {
  font-size: 1.2rem;
  color: #59656e;
}

.description {
  font-size: 1.4rem;
  color: #19232a;
}

.weathermate-line {
  width: 100%;
  height: 0.1rem;
  background-color: #ddd;
  margin: 2rem 0;
}

.weathermate-tip {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.weathermate-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.swiper-controls {
  display: flex;
  gap: 8px;
}

.swiper-prev,
.swiper-next {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: none;
  background: #00a2ce1a;
  cursor: pointer;
  position: relative;
}

/* 화살표 모양 */
.swiper-prev::after,
.swiper-next::after {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  border-top: 2px solid #00a2ce;
  border-right: 2px solid #00a2ce;
  position: absolute;
  top: 50%;
  left: 50%;
}

.swiper-prev::after {
  transform: translate(-50%, -50%) rotate(-135deg);
}

.swiper-next::after {
  transform: translate(-50%, -50%) rotate(45deg);
}
