.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
}

.close-icon {
  display: block;
  width: 2rem;
  height: 0.1rem;
  background-color: #fff;
  transform: rotate(45deg);
  position: absolute;
}

.close-icon:last-child {
  transform: rotate(-45deg);
}

.modal-content {
  background-color: #fcf7fa;
  height: 80%;
  overflow-y: auto;
  overflow-x: hidden;
}
